h1{
    font-size: 50px;
    color:gray;
    margin-top: 30px;
    margin-bottom: 60px;
}

.col-md-5{
    background: rgba(red, green, blue, alpha);
    margin-top: 40px;
}
.label{
    font-size: 20px;
    font-weight: normal;
}

.input-group{
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-group-addon{

    background: transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    padding: 15px;
    color: white;
}


.form-control{
    background: transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    padding: 15px;
    color: white;

}

input[type="checkbox"]{
    height=15px;
    width=15px;
    

}
small{
    font-size: 20px;
    color: white;
}

p{
    font-size: 18px;
    color:white
}

.btn-default{
    border-radius: 0px;
    widows: 457px;
    font-size:20px;
    margin-top: 20px;
    margin-bottom: 30px;

}

h2{

}
