body{
    background: url(back.jpg) no-repeat center center fixed;
    background-size: cover;
}

.hero{
    color: #fff;
    margin-top: 20%;
    text-align: center;
    font-size: 75px;
    letter-spacing: -0.05em;
    font-family: 'Revalia', cursive;
}

.ima
{
    height: 100px;
    width: 200px;
}